.caroline2 {
    box-shadow: 8px 10px 12px 0px rgba(0,0,0,0.5);
    margin-left: auto;
}

.carolineDiv {
    background-color: #003e53;
}

.carolineRightDiv {
    display: flex !important;
    align-items: center;
}

.borderBottom {
    border-bottom: 5px solid #003e53;
}
.has-padding-large {
    padding: 80px;
}

.H {
    font-family: 'Euphoria Script', cursive;
    line-height: .5;
}

.divider {
    border-top: 2px solid yellow;
}

.no-margin-bot {
    margin-bottom: 0 !important;
}
.background-greenBlue {
    background-color:#003e53;
}



.react-reveal {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .caroline2 {
        margin-left: 0px;
        max-width: 300px;
    }
    
}