.home-hero-image {
    background: url('https://i.imgur.com/JFu8tng.jpg') center/cover;
}


.opacityContainer {
    background-color: rgba(antiquewhite,.6);
    padding: 2rem;
    border-radius: 1.2rem
}