.home-hero-image {
    background: url('https://i.imgur.com/JFu8tng.jpg') center/cover;
}


.opacityContainer {
    opacity: .7;

    background-color: antiquewhite;
    padding: 2rem;
    border-radius: 1.2rem
}