.has-padding {
    padding: 50px;
}

.has-margin {
    margin-right: 20px;
}

.has-margin-top {
    margin-top: 30px;
}



@media only screen and (max-width: 768px) {
    .has-padding {
        padding: 0px;
    }
}


@import "../../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../../node_modules/bulma/sass/elements/box.sass";