.contactModal {
    position: absolute;
    z-index: 3000;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -10px 0px 20px -5px grey;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    text-align: center;
    padding: 50px;
}

.botMargin {
    margin-bottom: 300px !important;
}

.has-padding-top {
    padding-top: 220px;
}


@media only screen and (max-width: 425px) {
    .contactModal {
    width: 300px;
    height: 300px;
    }
    
}