@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive !important;
}



/* h1, h2, h3, p, a{
  font-family: 'Lora', serif;
} */

.has-padding-larger {
  padding: 170px;
}

.has-background-lightBlue {
  background-color: lightblue;
}

.add8e6 {
  background-color: rgb(#add8e6) !important;
}

@media only screen and (max-width: 500px) {
  .has-padding-larger {
    padding: 20px;
  }

  .document-container {
    width: 350px !important;
  }
}

@media only screen and (min-width: 769px) {
  .has-padding-larger {
    padding: 50px;
  }
}