.has-shadow {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5) !important;
}

.footerLogos {
    display: flex;
    justify-content: center;
}

.footerLogos img {
    width: 48px;
}

// @import "../../../node_modules/bulma/sass/layout/_all.sass";
@import '../../../node_modules/bulma/sass/layout/footer.sass'