

.navbar-menu {
    flex-grow: 0 !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: -10px 0px 20px -5px grey;
    padding: 0px 20px !important;
    width: 100%;
}

.is-fixed {
    position: fixed !important;
}

.navbar-brand {
    align-items: center !important;
    justify-content: space-between;
}


@media only screen and (max-width: 768px) {
    .navbar-brand {
        width: 100%;
    }
}



@import "../../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../../node_modules/bulma/sass/base/_all.sass";
// @import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../../node_modules/bulma/sass/layout/hero.sass";