.side-drawer { 
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    padding: 20px;
    z-index: 200;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    box-shadow: -10px 0px 20px -5px grey;
 }
 .has-margin-top {
     margin-top: 20px;
 }


 .is-flex-column {
     display: flex;
     flex-direction: column;
 }

 .side-drawer.open {
    transform: translateX(0);
 }

 svg {
     margin-top: 20px;
 }